/* footer.css */

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .footer p {
    margin-bottom: 15px;
  }
  
  .quick-links {
    margin-top: 20px;
  }
  
  .quick-links p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .quick-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .quick-links li {
    margin-bottom: 8px;
  }
  
  .quick-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .quick-links a:hover {
    color: #ffd700; /* Change the color to your desired hover color */
    text-decoration: underline;
  }
  