
/* ----Style 1---- */

.button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 0px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.button:hover {
  background-color: #ffd166;
  box-shadow: 0 0 30px 5px #b9933a;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.smooth-transition {
  transition: all 0.3s ease-in-out;
}



/* ----Style 2---- */


.btn {
  position: relative;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #ffd166; /* Soft yellow border color */
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: transparent;
  color: #ffd166; /* Soft yellow text color */
  overflow: hidden;
  transition: all 0.5s ease; /* Slow down the transition */
  box-shadow: 0 0 10px rgba(255, 209, 102, 0); /* Add initial box shadow */
}

.btn:hover {
  background-color: #ffd166; /* Soft yellow background color on hover */
  color: #fff; /* White text color on hover */
  border-color: #ffd166; /* Soft yellow border color on hover */
  box-shadow: 0 0 20px rgba(255, 209, 102, 0.5); /* Add a subtle glow effect */
}

.btn::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background-color: #ffd166; /* Soft yellow background color */
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s ease; /* Slow down the opacity transition */
  border-radius: 20px;
}

.btn:hover::before {
  opacity: 0.1;
}
